
body{
    font-family: 'Roboto', sans-serif;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#navicon-logo {
display: flex;
align-items: center;
}

.logo {
    height: 30px;
    width: 100px;
    margin-left: 20px;
}


#search-area {
    display: flex;
    align-items: center;
}

#search-bar {
    display: inline-block;
    height: 29px;
    width: 600px;
    border: 1px solid lightgray;
    -webkit-appearance: none;
}

#submit {
    height: 29px;
    width: 50px;
    position: relative;
    left: -5px;
}

#upload-sign {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#upload-icon {
    height: 40px;
    width: 44px;
}

#sign {
    background-color: rgb(22, 122, 198);
    color: white;
    font-weight: 500;
    height: 30px;
    width: 60px;
    padding: 6px;
    border: 1px solid;
    border-radius: 3px;
    margin-left: 30px;
}

#container{
   display: flex;
   position: relative;
   left: 170px;
   top: 20px;
}

#video-details {
    display: flex;
    justify-content: flex-start;
    margin-top: -15px;
    width: 560px;
    border-bottom: 1px solid lightgray;
}

h5{
    margin-top: 0;
}

#avatar-details{
    display: flex;
    flex-direction: column;
}

#subscribe{
    display: flex;
    align-items: center;
    margin-top: -3px;
}

#sub-button{
    background-color: red;
    color: white;
    border: 1px solid white;
    height: 22px;
  }

#stats{
    display: inline-block;
    border: 1px solid lightgray;
    position: relative;
    left: -1px;
    height: 20px;
   }    

#views{
    justify-content: flex-end;
    margin-left: 235px;
    font-size: 18px;
    color: gray;
    position: relative;
    bottom: -20px;
}    

#video-actions {
    display: flex;
    color: gray;
}

#v-actions-1 {


}

#v-actions-2 {
   position: relative;
   right: -190px;
}

#autoplay {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 20px;
	width: 400px;
	margin: 0 18px;
	}
	
	#autoplay-icon {
	    display: block;
	    height: 22px;
	    width: 60px;
	}
	
	.video-suggestion {
	    display: flex;
	    margin: 18px;
	    height: 98px;
	    width: 400px;
	}
	
	.suggestion-details {
	    height: 98px;
	    width: 200px;
	}
	
	.suggestion-details > small {
	    display: block;
	    color: gray;
	    font-size: 11px;
	    position: relative;
	    top: -8px;
	}
	.thumbnail {
	    display: block;
	    height: 94px;
	    width: 168px;
	    margin-right: 8px;
	}
	
	#show-more {
	    border-top: 1px solid lightgray;
	    text-align: center;
	
	} 